.comment-section-article .controls{
    padding: 30px 40px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 23px rgb(0 0 0 / 25%);
    z-index: 100;
    align-content: space-between;
    padding: 14px 6px;
    width: 100%;
    margin-top : 20px;
}

.comment-section-article .button-action-comment{
    margin-top: 20px;
   
}
.comment-section-article .editor-section{
    min-height: auto !important;
}

.comment-section-article .editor form .controls {
    max-width: 100% !important;
}
.body-content ul li{
    list-style-type: none;
    display: flex;
}
.body-content ul li a{
   
}
.body-content{
    background: #FFFFFF;
    border-radius: 15px;
    width: 100%;
    min-height: 200px;
    padding: 30px;
    min-height: 100%;
}

.rounded-avatar{
    width: 46px;
    height: 46px;
    background: #9FA0A3;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.rounded-avatar img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    border-radius: 50%;
}

.title-list{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #242428;
}

.text-body{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #9FA0A3;
}

.font-secondary{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    color: #9FA0A3;
}


.content-justify-center{
    text-align: center;
    width: 100%;
}

.w-30{
    width: 33.333%;
}
.w-60{
    width: 66.333%;
}
.w-100{
    width: 100%;
}

.body-content p{
    line-height: 20px;
}

.profile .user {
    max-width: 70%;
}

.item-article .snippet{
    width: 100% !important;
}
.custom-sub-menu-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.action-sub-menu{
    animation-name: animation-pop-menu;
    animation-duration: 0.5s;
    position: absolute;
    padding: 15px 9px;
    margin-left: 27px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);

}

.action-sub-menu-list{
    display: grid !important;
    background-color: #FFFFFF;
    position: absolute;
    height: auto !important;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);
    padding: 14px;
    transform: translate(-50%);
}